<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018460368237-u8pm32n0j38c8dm3agopiffcdiq3j6bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018460368237-u8pm32n0j38c8dm3agopiffcdiq3j6bh</string>
	<key>API_KEY</key>
	<string>AIzaSyDmzFKwPInIxxR3PnPeZJIlxETAEBoBiPY</string>
	<key>GCM_SENDER_ID</key>
	<string>1018460368237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>roy.yourstories</string>
	<key>PROJECT_ID</key>
	<string>your-stories-c529f</string>
	<key>STORAGE_BUCKET</key>
	<string>your-stories-c529f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018460368237:ios:64fa026a3c1f46ce577e64</string>
	<key>DATABASE_URL</key>
	<string>https://your-stories-c529f.firebaseio.com</string>
</dict>
</plist>